*{
    box-sizing: border-box;
}
.bg-white{
    background: #ECF0F1 !important;
}
form:not(#form-tag){
    display: flex;
    flex-direction: column;
    padding:10px;
    border: 1px solid #C5C5C5;
    margin: 5px;
    border-radius: 5px;
    margin-bottom: 5px !important;
}

#wmd-button-bar-id_contenu_post{
    background: #FFF;
}
#header_zone{
    display: flex;
    margin: 10px;
    justify-content: space-evenly;
}
#title_zone{
    width: 400px;
    display: inline-block;
}
#button_zone{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
#button_zone .btn-success{
    margin-right: 5px;
}

#button_zone label{
    position: absolute;
    left: 5px;
    margin: 0;
}
#file_article{
    display: none;
}
