*{
  box-sizing: border-box;
}
#main-block{
  overflow-y: auto;
  max-height: 100vh !important;
  overflow-x: hidden;
  padding:30px;
  background:#ECF0F1;"
}
#main-block .article{
  width: inherit;
}

#main-block .post-comments {
  padding-bottom: 9px;
  margin: 5px 0 5px;
}

#main-block .comment-row:hover {
    background: rgba(0, 0, 0, 0.05)
}
#main-block .author-article{
  color:#0056B3;
}
.errorlist{
  display: none;
}
#main-block .toggle_children{
  display: none;
}
#main-block .comment-reply-btn{
  margin-right: 5px;
}

#main-block .btn-post-child-comment{
  margin-left: 5px;
}

#main-block .btn-success{
  margin-left: 5px;
}

#main-block .media .comment-parent{
  padding:10px;
  width: 100%;
}
#main-block .comment-child{
  padding:10px;
}

#main-block .badge-info{
  font-size: 1em;
  padding: 10px;
  background:#2980b9;
}
#main-block .badge-info:hover{
  background: #3498db !important;
}
#main-block .content{
  text-align: justify;
}
#main-block .content a{
  color: #3498db;
  background: #ECF0F1;
}
#main-block .content a:hover{
  color: #2980b9;
}
#main-block .content img{
  max-width: 900px;
  display: block;
  max-height: 300px;
  object-fit: contain;
  margin: auto;
}
#main-block .img-top{
  min-height: 300px;
  max-height: 300px;
  min-width: 900px;
  max-width: 900px;
  object-fit: contain;
  border:none;
}
#main-block #post-comment-form{
  justify-content: center;
  margin-bottom: 20px;
}
#main-block .img_user{
  border: 1px solid #FFF;
}

#main-block .comment-form{
  margin:10px;
}

#main-block .comment_text{
  font-size: 1rem !important;
  word-break: break-word;
}

#main-block input[type='text']{
  width: 50% !important;
}