<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ananas</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<hr>
<div class="container bootstrap snippet">

    <div class="row">
  		<div class="col-sm-3"><!--left col-->


      <div class="text-center">
          {% if UserProfile.photo is not None and UserProfile.photo != "" %}
          <img src="{{UserProfile.photo.url}}" alt="">
          {% else %}
          <img src="{{UserProfile.avatar}}" alt="">
          {% endif %}

        <h6>Upload a different photo...</h6>
          <form class="form"  method="post" id="registrationForm" enctype="multipart/form-data">
        {{form.photo}}
      </div></hr><br>


          <div class="panel panel-default">
            <div class="panel-heading">Date d'inscription <i class="fa fa-1x"></i></div>
            <div class="panel-body"> {{UserProfile.date_joined}} </div>
          </div>


          <ul class="list-group">
            <li class="list-group-item text-muted">Activity <i class="fa fa-dashboard fa-3x"></i></li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Articles</strong></span>{{countArticles}}</li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Commentaires</strong></span>{{countCommentaires}}</li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Messages</strong></span>{{countMessages}}</li>
          </ul>

        </div><!--/col-3-->


    	<div class="col-sm-9">
                            <div class="userData ml-3">
                                <h2 class="d-block" style="font-size: 3rem; font-weight: bold">{{ UserProfile.first_name}} {{ UserProfile.last_name }}</h2>
                            </div>

                <hr>

                      {% csrf_token %}
                      <div class="form-group">

                          <div class="col-xs-6">
                              <label for="first_name"><h4>Prénom</h4></label>
                              <p><i class="fas fa-user" id="first_name"f></i>{{form.prenom}}</p>
                          </div>
                      </div>
                      <div class="form-group">

                          <div class="col-xs-6">
                            <label for="last_name"><h4>Nom</h4></label>
                              <p><i class="fas fa-user" id="last_name"f></i>{{form.nom}}</p>
                          </div>
                      </div>
                      <div class="form-group">

                          <div class="col-xs-6">
                              <h4>Email</h4>
                              {{UserProfile.email}}
                          </div>
                      </div>
                      <div class="form-group">

                          <div class="col-xs-6">
                              {% if form.naissance and form.naissance.errors %}
					{%for error in form.naissance.errors%}
			<p class="error alert alert-danger"><i class="fas fa-exclamation-triangle" style="top:32%;left:10px;"></i>{{error}}</p>
			{% endfor %}
			{% endif %}
                              <label for="birthdate"><h4>Date de naissance</h4></label>
                             <p><i class="fas fa-user" id="birthdate"f></i>{{form.naissance}}</p>
                          </div>
                      </div>

                      <div class="form-group">
                          <div class="col-xs-6">
                              {% if user.is_autre%}
                              <label for="poste"><h4>Poste</h4></label>
                             <p><i class="fas fa-user" id="poste"></i>{{form.poste}}</p>
                              {% else %}
                              <label for="majeure"><h4>Majeure</h4></label>
                             <p><i class="fas fa-user" id="majeure"></i>{{form.majeure}}</p>
                              {% endif %}

                          </div>
                      </div>

                      <div class="form-group">

                          <div class="col-xs-6">
                              <label for="campus"><h4>Campus</h4></label>
                              <p><i class="fas fa-user" id="campus"></i>{{form.campus}}</p>
                          </div>
                      </div>
<!--                      <div class="form-group">-->

<!--                          <div class="col-xs-6">-->
<!--                              <label for="password"><h4>Password</h4></label>-->
<!--                             <p><i class="fas fa-user" id="password"></i>{{form.password1}}</p>-->
<!--                          </div>-->
<!--                      </div>-->
<!--                      <div class="form-group">-->

<!--                          <div class="col-xs-6">-->
<!--                            <label for="password2"><h4>Verify</h4></label>-->
<!--                              <p><i class="fas fa-user" id="password2"></i>{{form.password2}}</p>-->
<!--                          </div>-->
<!--                      </div>-->
                      <div class="form-group">
                           <div class="col-xs-12">
                                <br>
                              	<button class="btn btn-lg btn-success" type="submit"><i class="glyphicon glyphicon-ok-sign"></i> Save</button>
                               	<button class="btn btn-lg" type="reset"><i class="glyphicon glyphicon-repeat"></i> <a
                                        href="{% url 'profile-home' UserProfile.email %}">Retour</a></button>
                            </div>
                      </div>
              	</form>
              <hr>
        </div><!--/col-9-->
    </div><!--/row--></html>