{% extends "header-login.html" %}
{% block title %}Profil{%endblock%}
{% block headerlink%}
<style>
    *{
        box-sizing: border-box;
    }
    .form-group p{
        display: flex;
        font-size: 1.3rem;
        padding-left: 15px;
    }
    .form-group p input,
    .form-group p select{
        margin-left: 10px;
    }
    .form-group p i{
        padding:5px;
    }
    @media screen and (max-width: 900px){
        .container,.profil{
            font-size: .8rem;
        }
        h4, i,span{
            font-size: .8rem;
        }
    }
</style>
{%endblock%}
{% block content%}

<hr>
<div class="container">

    <div class="row">
  		<div class="col-sm-3"><!--left col-->


      <div class="text-center">
          {% if UserProfile.photo is not None and UserProfile.photo != "" %}
          <img src="{{UserProfile.photo.url}}" alt="">
          {% else %}
          <img src="{{UserProfile.avatar}}" alt="">
          {% endif %}

        <h6>Télécharger une photo...</h6>
          <form class="form"  method="post" id="registrationForm" enctype="multipart/form-data">
        {{form.photo}}
      </div>
            </hr>
            <br>


          <div class="card mb-3">
             <div class="card-header">Date d'inscription </div>
                <div class="card-body">
                    <p class="card-text"> {{ UserProfile.date_joined }} </p>
                </div>
          </div>


          <div class="card mb-3">
                <div class="card-header">Activité</div>
                <ul class="list-group list-group-flush">
                <li class="list-group-item d-flex justify-content-between"><span class=""><strong>Article{{countArticles|pluralize}}</strong></span>{{countArticles}}</li>
                <li class="list-group-item d-flex justify-content-between"><span class=""><strong>Commentaire{{countCommentaires|pluralize}}</strong></span>{{countCommentaires}}</li>
                <li class="list-group-item d-flex justify-content-between"><span class=""><strong>Message{{countMessages|pluralize}}</strong></span>{{countMessages}}</li>
            </ul>
            </div>

        </div><!--/col-3-->


    	<div class="col-sm-9">
                            <div class="userData ml-3">
                                <h2 style="display: inline" >{{ UserProfile.first_name}} {{ UserProfile.last_name }}</h2>
                            </div>
            <br/>

                {% if UserProfile.is_autre %}
                    <span class="badge badge-info">Administration</span>
                {% else %}
                    <span class="badge badge-info ">Etudiant</span>
                {% endif %}

                <hr>
            <div class="profil" style="display: grid;grid-template-columns: 1fr 1fr;padding:10px" >

                      {% csrf_token %}
                      <div class="form-group">

                          <div class="col-xs-6">
                              <label for="first_name"><h4>Prénom</h4></label>
                              <p><i class="fas fa-user" id="first_name"f></i>{{form.prenom}}</p>
                          </div>
                      </div>
                      <div class="form-group">

                          <div class="col-xs-6">
                            <label for="last_name"><h4>Nom</h4></label>
                              <p><i class="fas fa-user" id="last_name"f></i>{{form.nom}}</p>
                          </div>
                      </div>
                      <div class="form-group">

                          <div class="col-xs-6">
                              <h4>Email</h4>
                              {{UserProfile.email}}
                          </div>
                      </div>
                      <div class="form-group">

                          <div class="col-xs-6">
                              {% if form.naissance and form.naissance.errors %}
					{%for error in form.naissance.errors%}
			<p class="error alert alert-danger"><i class="fas fa-exclamation-triangle" style="top:32%;left:10px;"></i>{{error}}</p>
			{% endfor %}
			{% endif %}
                              <label for="birthdate"><h4>Date de naissance</h4></label>
                             <p><i class="fas fa-birthday-cake" id="birthdate"></i>{{form.naissance}}</p>
                          </div>
                      </div>

                      <div class="form-group">
                          <div class="col-xs-6">
                              {% if user.is_autre%}
                              <label for="poste"><h4>Poste</h4></label>
                             <p><i class="fas fa-user" id="poste"></i>{{form.poste}}</p>
                              {% else %}
                              <label for="majeure"><h4>Majeure</h4></label>
                             <p><i class="fas fa-user-graduate" id="majeure"></i>{{form.majeure}}</p>
                              {% endif %}

                          </div>
                      </div>

                      <div class="form-group">

                          <div class="col-xs-6">
                              <label for="campus"><h4>Campus</h4></label>
                              <p><i class="fas fa-search-location" id="campus"></i>{{form.campus}}</p>
                          </div>
                      </div>
                      <div class="form-group">
                           <div class="col-xs-12">
                                <br>
                              	<button class="btn btn-lg btn-success" type="submit">Enregistrer</button>
                               	<a class="btn btn-lg btn-light"
                                        href="{% url 'profile-home' UserProfile.email %}">Retour</a></button>
                            </div>
                      </div>
              	</form>
            </div>
              <hr>
        </div><!--/col-9-->
    </div><!--/row-->
</div>
{% endblock%}