{% extends "header.html" %}
{% block title %}Article{%endblock%}
{%block headerlink %}
<link rel="stylesheet" href="{{STATIC_URL}}/static/timeline/css/comment.css">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>


{% endblock%}
{% block content%}
<main id="frame" style="overflow-y: auto;max-height: 100vh !important;overflow-x: hidden;">
    <div class="article">
    <h1 style="display:inline-block">{{ post.titre }} <span class="small"> </span></h1><button style="display: inline-block"><a href="{% url 'timeline-home' %}">Retour</a></button>
    <p class="infos">Rédigé par {{ post.auteur.last_name |upper}} {{post.auteur.first_name}}, le {{ post.date|date:"DATE_FORMAT" }}</p>
    {% for tag in tagsArticle %}
        <span class="tag">{{tag}}</span>
        {% endfor %}

        <div class="photos">
        <img src="/media/{{post.photo}}"/>
    </div>
        <div class="contenu">{{ post.get_markdown}}</div>
    <div class="container">
        <div class="post-comments">
            <!--Partie commentaire-->
            <form method="post" class="form-inline">
                {% csrf_token %}
                {{ form }}
                <input type="submit" value="Publier">
            </form>

            {% for comment in comments %}
            <!--Boucle sur tous les commentaires-->
            <div class="media">
                <div class="media-heading">
                    </button> <span class="label label-info"> il y a {{comment.date_comm |timesince}}</span> {{comment.id_user.first_name}}
                    {% if comment.children.count > 0 %} | <span>{{comment.children.count}} repl{{comment.children.count|pluralize:"y,ies"}} </span> {% endif %}
                </div>

                <div class="panel-collapse collapse in" id="collapseTwo">

                    <div class="media-left">
                        <!-- vote-wrap -->
                    </div>
                    <!-- media-left -->


                    <div class="media-body">
                        <p>{{ comment }}</p>
                            <div class="comment-meta">
                                {% if request.user.email == comment.id_user.email %}
                                <span><a href="{% url "delete_comm" comment.pk %}">delete</a></span>
                                 {% endif %}
                                <span><a href="#" class="comment-reply-btn">Reply</a></span>
                            </div>
                        <!-- comment-meta -->
                    </div>
                    <div class="comment-reply toggle_children" >
                        <form method="post" class="form-inline">
                {% csrf_token %}
                {{ form }}
                        <input type="hidden" name="parent_id" value="{{comment.pk}}">
                <input type="submit" value="Reply">
            </form>
                         {% for child_comment in comment.children %}
                    <blockquote>
                       <div class="media">
                <div class="media-heading">
                    </button> <span class="label label-info"> il y a {{child_comment.date_comm |timesince}}</span> {{child_comment.id_user.first_name}}<!--TODO : Ajouter nom du mec qui a commenté-->
                </div>

                <div class="panel-collapse collapse in" id="collapseTwo">

                    <div class="media-left">
                        <!-- vote-wrap -->
                    </div>
                    <!-- media-left -->

                    <div class="media-body">
                        <p>{{ child_comment }}</p>
                        {% if request.user.email == comment.id_user.email %}
                            <div class="comment-meta">
                                <span><a href="{% url "delete_comm" child_comment.pk %}">delete</a></span>
                            </div>
                        {% endif %}
                        <!-- comment-meta -->
                    </div>
                </div>
                       </div>
                    </blockquote>
                    {% endfor%}
                    </div>
                </div>
            </div>
            {% endfor %} <!-- Fin des commentaires -->
    </div>
        </div>
        {%block script%}
        <script>
            $(document).ready(function(){
                $('.comment-reply-btn').click((e)=>{
                    e.preventDefault();
                   e.currentTarget.parentElement.parentElement.parentElement.nextElementSibling.classList.toggle('toggle_children')
                })
            })
        </script>
        <script>
            let chat_rooms = document.querySelector('#all_chats').firstElementChild;
    const token = "{{ request.session.token }}";
    const email = {{ email }}
    const username = {{ username }};

    function AppendNewChat(token){
        fetch(`/messenger-api/?email=${email}`,{
            method:'GET',
            credentials:'include',
            headers:{'Authorization':`Token ${token}`,'Content-Type': 'application/json'}
        }).then(resp=>{
            resp.json().then(data=>{
                if(data['detail']){console.error('Pas de chat!!')}
                else{
                    let current_chat_id=document.querySelectorAll(`li[data-chat_id]`);
                    console.log(data);
                    if(current_chat_id.length>0){
                        let arr=[];
                        let arr2=[];
                        current_chat_id.forEach((element)=>arr.push(Number.parseInt(element.dataset.chat_id)));
                        data.forEach((element)=>arr2.push(Number.parseInt(element.id)));
                        let AddedChat = arr2.filter(x => !arr.includes(x));
                        let RemovedChat = arr.filter(x=>!arr2.includes(x));
                        if(AddedChat.length>0){
                            AddedChat.forEach((id)=>{createChat(data.pop())})
                        }
                        if(RemovedChat.length>0){
                            RemovedChat.forEach((id)=>removeChat(document.querySelector(`[data-chat_id='${id}']`)))
                        }
                    }else{
                        for(const obj of data){
                            console.log(obj);
                            createChat(obj);
                        }
                    }
                }
            })
        })
    }

    function createChat(obj){
        let c_li=document.createElement('li');
        c_li.dataset.chat_id=obj.id;
        c_li.classList="chat";
        let c_div=document.createElement('div');
        c_div.classList="wrap";
        let c_img=document.createElement('img');
        let c_name=document.createElement('span');
        c_name.classList="name";
        let c_pre=document.createElement('p');
        c_pre.classList="preview";
        c_li.appendChild(c_div);
        if(obj['status']==='Private'){
            c_img.src='/static/messenger/img/logoprive.PNG';
        }else{
            c_img.src='/static/messenger/img/logopublic.PNG';
        }

        c_div.appendChild(c_img);
        c_name.textContent=obj.name;
        c_div.appendChild(c_name);
        c_div.appendChild(c_pre);
        chat_rooms.appendChild(c_li);

        c_li.addEventListener('click', (e)=>{
           window.location.href = "/messenger/"
                            + obj.id

      })

    }

    window.onload = AppendNewChat(token);
    document.querySelector('#user_name').addEventListener('click',(e)=>{
	window.location = "/profil"
});
        </script>
        {% endblock%}
{%endblock%}
