{% extends "header.html" %}
{% block title %}Article{%endblock%}
{%block headerlink %}
<link rel="stylesheet" href="{{STATIC_URL}}/static/timeline/css/comment.css">

{% endblock%}
{% block content %}
<main id="frame" style="overflow-y: auto;max-height: 100vh !important;overflow-x: hidden;padding:30px">
    <div class="article">
    <h1 style="display:inline-block">{{ post.titre }} <span class="small"> </span></h1><button style="display: inline-block"><a href="{% url 'timeline-home' %}">Retour</a></button>
    <p class="infos">Rédigé par {{ post.auteur.last_name |upper}} {{post.auteur.first_name}}, le {{ post.date|date:"DATE_FORMAT" }}</p>
    {% for tag in tagsArticle %}
        <a class="tag" href="{% url 'search' tag.pk %}">{{tag}}</a>
        {% endfor %}
        <div class="photos">
            <img src="/media/{{post.photo}}"/>
        </div>
        <div class="contenu">{{ post.get_markdown}}</div>
    <div class="container">
        <div class="post-comments">
            <!--Partie commentaire-->
            <form method="post" class="form-inline">
                {% csrf_token %}
                {{ form }}
                <input type="submit" value="Publier">
            </form>
            {% for comment in comments %}
             <!-- Comment Row -->
            <div class="media">
                <div class="d-flex flex-row comment-row m-t-0 comment-parent">
                    <div class="p-2"><img src="{{comment.id_user.photo.url}}" alt="user" width="50" class="rounded-circle"></div>
                    <div class="comment-text w-100 media-body">
                        <h6 class="font-medium">{{comment.id_user.last_name|upper}} {{comment.id_user.first_name}}</h6> {% if comment.children.count > 0 %} | <span>{{comment.children.count}} repl{{comment.children.count|pluralize:"y,ies"}} </span> {% endif %}<span class="m-b-15 d-block">{{ comment }} </span>
                        <div class="comment-footer"> <span class="text-muted float-right">il y a {{comment.date_comm |timesince}}</span> <button type="button" class="btn btn-info btn-sm comment-reply-btn">répondre</button><a class="btn btn-danger btn-sm" href="{% url 'delete_comm' comment.pk %}">Supprimer</a></div>

                    <div class="comment-reply toggle_children" >
                      <form method="post" class="form-inline">
                        {% csrf_token %}
                        {{ form }}
                        <input type="hidden" name="parent_id" value="{{comment.pk}}">
                        <input type="submit" value="Répondre">
                        </form>
                        {% for child_comment in comment.children %}
                         <div class="d-flex flex-row comment-row m-t-0 media mt-3">
                    <div class="p-2"><img src="{{child_comment.id_user.photo.url}}" alt="user" width="50" class="rounded-circle"></div>
                    <div class="comment-text w-100 media-body">
                        <h6 class="font-medium">{{child_comment.id_user.last_name|upper}} {{child_comment.id_user.first_name}}</h6> </span><span class="m-b-15 d-block">{{ child_comment }} </span>
                        <div class="comment-footer"> <span class="text-muted float-right">il y a {{child_comment.date_comm |timesince}}</span><a class="btn btn-danger btn-sm" href="{% url 'delete_comm' child_comment.pk %}">Supprimer</a></div>
                    </div>
                </div>
                        {% endfor%}
                    </div>
                </div>
                    </div>
                </div> <!-- Comment Row -->
            {% endfor %} <!-- Fin des commentaires -->


        </div>
    </div>
    </div>
</main>
{% endblock %}
{% block script%}
        <script>
            let all_reply = document.querySelectorAll('.comment-reply-btn');
            all_reply.forEach((element)=>{
                element.addEventListener('click',(e)=>{
                    e.currentTarget.parentElement.nextElementSibling.classList.toggle('toggle_children')
                })
            })
        </script>
        <script>
            let chat_rooms = document.querySelector('#all_chats').firstElementChild;
    const token = "{{ request.session.token }}";
    const email = {{ email }}
    const username = {{ username }};

    function AppendNewChat(token){
        fetch(`/messenger-api/?email=${email}`,{
            method:'GET',
            credentials:'include',
            headers:{'Authorization':`Token ${token}`,'Content-Type': 'application/json'}
        }).then(resp=>{
            resp.json().then(data=>{
                if(data['detail']){console.error('Pas de chat!!')}
                else{
                    let current_chat_id=document.querySelectorAll(`li[data-chat_id]`);
                    console.log(data);
                    if(current_chat_id.length>0){
                        let arr=[];
                        let arr2=[];
                        current_chat_id.forEach((element)=>arr.push(Number.parseInt(element.dataset.chat_id)));
                        data.forEach((element)=>arr2.push(Number.parseInt(element.id)));
                        let AddedChat = arr2.filter(x => !arr.includes(x));
                        let RemovedChat = arr.filter(x=>!arr2.includes(x));
                        if(AddedChat.length>0){
                            AddedChat.forEach((id)=>{createChat(data.pop())})
                        }
                        if(RemovedChat.length>0){
                            RemovedChat.forEach((id)=>removeChat(document.querySelector(`[data-chat_id='${id}']`)))
                        }
                    }else{
                        for(const obj of data){
                            console.log(obj);
                            createChat(obj);
                        }
                    }
                }
            })
        })
    }

    function createChat(obj){
        let c_li=document.createElement('li');
        c_li.dataset.chat_id=obj.id;
        c_li.classList="chat";
        let c_div=document.createElement('div');
        c_div.classList="wrap";
        let c_img=document.createElement('img');
        let c_name=document.createElement('span');
        c_name.classList="name";
        let c_pre=document.createElement('p');
        c_pre.classList="preview";
        c_li.appendChild(c_div);
        if(obj['status']==='Private'){
            c_img.src='/static/messenger/img/logoprive.PNG';
        }else{
            c_img.src='/static/messenger/img/logopublic.PNG';
        }

        c_div.appendChild(c_img);
        c_name.textContent=obj.name;
        c_div.appendChild(c_name);
        c_div.appendChild(c_pre);
        chat_rooms.appendChild(c_li);

        c_li.addEventListener('click', (e)=>{
           window.location.href = "/messenger/"
                            + obj.id

      })

    }

    window.onload = AppendNewChat(token);
    document.querySelector('#user_name').addEventListener('click',(e)=>{
	window.location = "/profil"
});
        </script>
        {%endblock%}
