{% extends "header.html" %}
{% block title %}Article{%endblock%}
{%block headerlink %}
<link rel="stylesheet" href="{{STATIC_URL}}/static/timeline/css/comment.css">
<link href="{{STATIC_URL}}/static/timeline/ZoomBox/css/zoom.css" rel="stylesheet" type="text/css" />

{% endblock%}
{% block content %}
    <div class="article">
        <div class="container">

    <div class="row">

      <!-- Post Content Column -->
      <div class="col-lg-12">

        <!-- Title -->
        <h1 class="mt-4" style="line-height: 0.8;">{{post.titre}}</h1>

        <!-- Author -->
        <p class="lead">
          par
          <a class="author-article" href="{% url 'profile-home' post.auteur.email %}">{{ post.auteur.last_name |upper}} {{post.auteur.first_name}}</a>
        </p>
          <div>
              {% for tag in tagsArticle %}
    <a class="badge badge-info" href="{% url 'search' tag.pk %}">{{tag}}</a>
       {% endfor %}
          </div>

        <hr>

        <!-- Date/Time -->
        <p>Rédigé le {{ post.date|date:"DATE_FORMAT" }}</p>

        <hr>

        <!-- Preview Image -->
        <img class="img-fluid" data-action="zoom" src="{{post.photo.url}}" alt="" style="margin:auto;display: block">

        <hr>

        <!-- Post Content -->
          <div class="content">
              {{post.get_markdown}}
          </div>

        <hr>
    <div class="container">
        <div class="post-comments">
            <!--Partie commentaire-->
            <div class="card my-4">
          <h5 class="card-header">Laisser un commentaire : </h5>
          <div class="card-body">
              <form id="post-comment-form" method="post">
                {% csrf_token %}
                  <div class="form-group">
                {{ form.contenu_comm }}
                      </div>
                  <button type="submit" class="btn btn-success">Publier</button>
            </form>
          </div>
        </div>

            {% for comment in comments %}
             <!-- Comment Row -->
            <div class="media">
                <div class="d-flex flex-row comment-row m-t-0 comment-parent">
                    <div class="p-2">
                        {% if comment.id_user.photo is not None and comment.id_user.photo != "" %}
                    <img src="{{ comment.id_user.photo.url }}" alt="user" width="50" class="rounded-circle img_user">
                {% else %}
                    <img src="{{ comment.id_user.avatar }}" alt="user" width="50" class="rounded-circle img_user">
                {% endif %}
                    </div>
                    <div class="comment-text w-100 media-body">
                        <h6 class="font-medium">{{comment.id_user.last_name|upper}} {{comment.id_user.first_name}} {% if comment.children.count > 0 %} | <small>{{comment.children.count}} répons{{comment.children.count|pluralize:"e,es"}} </small> {% endif %}</h6> <span class="m-b-15 d-block comment_text" style="font-size: 1.1em;padding-left:5px;">{{ comment }} </span>
                        <div class="comment-footer"> <span class="text-muted float-right">il y a {{comment.date_comm |timesince}}</span> <button type="button" class="btn btn-link btn-sm comment-reply-btn">Répondre</button>{% if request.user == comment.id_user %}<a class="btn btn-link btn-sm" href="{% url 'delete_comm' comment.pk %}">Supprimer</a>{%endif%}</div>

                    <div class="comment-reply toggle_children" >
                      <form method="post" class="form-inline comment-form">
                        {% csrf_token %}
                        {{ form }}
                        <input type="hidden" name="parent_id" value="{{comment.pk}}">
                        <input type="submit" value="Répondre" class="btn btn-info btn-post-child-comment">
                        </form>
                        {% for child_comment in comment.children %}
                         <div class="d-flex flex-row comment-row m-t-0 media mt-3 comment-child">
                    <div class="p-2">
                        {% if child_comment.id_user.photo is not None and child_comment.id_user.photo != "" %}
                    <img src="{{ child_comment.id_user.photo.url }}" alt="user" width="50" class="rounded-circle img_user">
                {% else %}
                    <img src="{{ child_comment.id_user.avatar }}" alt="user" width="50" class="rounded-circle img_user">
                {% endif %}
                    </div>
                    <div class="comment-text w-100 media-body">
                        <h6 class="font-medium">{{child_comment.id_user.last_name|upper}} {{child_comment.id_user.first_name}}</h6> </span><span class="m-b-15 d-block comment_text">{{ child_comment }} </span>
                        <div class="comment-footer"> <span class="text-muted float-right">il y a {{child_comment.date_comm |timesince}}</span>{% if request.user == child_comment.id_user %}<a class="btn btn-link btn-sm" href="{% url 'delete_comm' child_comment.pk %}">Supprimer</a>{% endif %}</div>
                    </div>
                </div>
                        {% endfor%}
                    </div>
                </div>
                    </div>
                </div> <!-- Comment Row -->
            {% endfor %} <!-- Fin des commentaires -->


        </div>
    </div>
    </div>
{% endblock %}
{% block script%}
        <script>
            let all_reply = document.querySelectorAll('.comment-reply-btn');
            all_reply.forEach((element)=>{
                element.addEventListener('click',(e)=>{
                    e.currentTarget.parentElement.nextElementSibling.classList.toggle('toggle_children')
                })
            })
        </script>
        <script>
            let chat_rooms = document.querySelector('#all_chats').firstElementChild;
    const token = "{{ request.session.token }}";
    const email = {{ email }}
    const username = {{ username }};

    function AppendNewChat(token){
        fetch(`/messenger-api/?email=${email}`,{
            method:'GET',
            credentials:'include',
            headers:{'Authorization':`Token ${token}`,'Content-Type': 'application/json'}
        }).then(resp=>{
            resp.json().then(data=>{
                if(data['detail']){console.error('Pas de chat!!')}
                else{
                    let current_chat_id=document.querySelectorAll(`li[data-chat_id]`);
                    if(current_chat_id.length>0){
                        let arr=[];
                        let arr2=[];
                        current_chat_id.forEach((element)=>arr.push(Number.parseInt(element.dataset.chat_id)));
                        data.forEach((element)=>arr2.push(Number.parseInt(element.id)));
                        let AddedChat = arr2.filter(x => !arr.includes(x));
                        let RemovedChat = arr.filter(x=>!arr2.includes(x));
                        if(AddedChat.length>0){
                            AddedChat.forEach((id)=>{createChat(data.pop())})
                        }
                        if(RemovedChat.length>0){
                            RemovedChat.forEach((id)=>removeChat(document.querySelector(`[data-chat_id='${id}']`)))
                        }
                    }else{
                        for(const obj of data){
                            createChat(obj);
                        }
                    }
                }
            })
        })
    }

    function createChat(obj){
        let c_li=document.createElement('li');
        c_li.dataset.chat_id=obj.id;
        c_li.classList="chat";
        let c_div=document.createElement('div');
        c_div.classList="wrap";
        let c_img=document.createElement('img');
        let c_name=document.createElement('span');
        c_name.classList="name";
        let c_pre=document.createElement('p');
        c_pre.classList="preview";
        c_li.appendChild(c_div);
        if(obj['status']==='Private'){
            c_img.src='/static/messenger/img/logoprive.PNG';
        }else{
            c_img.src='/static/messenger/img/logopublic.PNG';
        }

        c_div.appendChild(c_img);
        c_name.textContent=obj.name;
        c_div.appendChild(c_name);
        c_div.appendChild(c_pre);
        chat_rooms.appendChild(c_li);

        c_li.addEventListener('click', (e)=>{
           window.location.href = "/messenger/"
                            + obj.id

      })

    }

    window.onload = AppendNewChat(token);
    document.querySelector('#user_name').addEventListener('click',(e)=>{
	window.location = "/profil"
});
        </script>
        <script src="{{STATIC_URL}}/static/timeline/ZoomBox/js/zoom.js"></script>
        <script>
            document.querySelectorAll('.content img').forEach((img)=>{
                img.setAttribute('data-action','zoom');
            })
        </script>

        {%endblock%}
