{% extends "header.html" %}
{% block title %}Timeline{% endblock %}
{% block content %}
    <div> <!--Liste des posts-->
    <!--For comment in comments-->
        <!--TODO: Finir d'intégrer le bootsnip-->
        <div class="container">
            <div class="row">
    {% for post in posts %}<!--TODO: Redimentionner les images-->




        <div class="col-lg-4 col-sm-6 mb-4">
          <div class="card h-100">
            <a href={{ post.id }}><img class="card-img-top" src="/media/{{post.photo}}" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href={{ post.id }}>{{ post.titre }}</a>
              </h4>
                <h6>
                    {% for tag in post.tags.all %}
                    <span class="tag">{{tag}}</span>
                    {% endfor %}
                </h6>
              <p class="card-text">{{ post.contenu_post| safe |truncatewords_html:7 }}</p>
            </div>
          </div>
        </div>
    {% endfor %}
                </div>
    </div>

{% endblock %}
</body>
</html>