{% extends "header.html" %}
{% block title %}Connexion{%endblock%}
{%block headerlink %}<!-- CSS connexion page -->
  <link rel="stylesheet" href="{{STATIC_URL}}/static/login/css/connexion.css">
<!-- End css connexion page -->{% endblock %}
{%block content%}
<div class="container">
		<div class="content shadow-lg p-3 mb-5 bg-white rounded">
			<div class="title">
				<!--<h2>Se connecter</h2>-->
				<img src="/static/login/img/phiblanc.png" alt="" height="110px" width="120px"/>
			</div>
			{% if error %}
			<p class="error alert alert-danger" ><i class="fas fa-exclamation-triangle" style="top:32%;left:10px;"></i>Email ou password invalides !</p>
			{% endif %}
			{% if form.email.errors %}
			{% for error in form.email.errors%}
				<p class="error alert alert-danger" ><i class="fas fa-exclamation-triangle" style="top:32%;left:10px;"></i>{{error}}</p>
				{% endfor %}
			{% endif %}
			<form action="" method="post">
				{% csrf_token %}
				<p><i class="fas fa-envelope"></i><input type="email" name="email" class="form-control" placeholder="Identifiant" id="email" maxlength="254"></p>
				<p><i class="fas fa-unlock"></i><input type="password" name="password" class="form-control" placeholder="Mot de passe" id="password" maxlength="128" required></p>
				<p><div style="text-align: center;margin-top:0%;color: #FFFFFF;font-size: 17px;font-family: 'Helvetica',sans-serif;">Rester connecté</div><div style="text-align: right"><div class="onoffswitch"><input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked>
				    <label class="onoffswitch-label" for="myonoffswitch">
				        <div class="onoffswitch-inner"></div>
				        <div class="onoffswitch-switch"></div>
				    </label></div>
				<!--</div>-->
				</div></p>

				<div class="zone_button">
					<p class="mdc-button mdc-button--raised"> <a href="{% url 'register' %}"> <span class="mdc-button__ripple"></span> S'enregistrer</a></p>
					<button type="submit" class="mdc-button mdc-button--raised"><i class="fas fa-sign-in-alt"></i>  <span class="mdc-button__ripple"></span> Login</button>
					<a href="{% url 'password_reset' %}">Mot de passe oublié ?</a>
				</div>
			</form>
		</div>
	</div>
	{% if messages %}
	{% for message in messages%}
	
<div id="toast" style="position:absolute;bottom:0" class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-delay=3000>
  
  <div class="toast-body"><i class="fas fa-check-circle"></i>
   {{message}}
  </div>
</div>
{% endfor %}
	{% endif %}
{%endblock%}

{%block script%}
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script>
	$('.toast').toast()
	$('.toast').toast('show')
</script>
{%endblock%}