{%extends "header-login.html"%}
{%block title%}Password confirmation{%endblock%}
{%block headerlink%} 
<link rel="stylesheet" href="{{STATIC_URL}}/static/login/css/password_reset_done.css">
{%endblock%}

{%block content%}
<div class="container">
		<div class="content shadow-lg p-3 mb-5 bg-white rounded">
			<p>
				Votre mot de passe a bien été modifié !<br/>
				Vous pouvez maintenant vous connecter sur le site d'Ananas<br/>
				<button class="mdc-button mdc-button--raised"><i class="fas fa-sign-in-alt"></i>  <a href="{% url 'connexion' %}"><span class="mdc-button__ripple"></span>Accueil</a></button>
			</p>
		</div>
	</div>
{%endblock%}