{% extends "header-login.html"%}
{%block title%}Forgot password ?{%endblock%}
{%block headerlink%}<!-- CSS password_reset page -->
{% load static %}
  <link rel="stylesheet" href="{% static 'login/css/password_reset.css' %}">

<!-- End css password_reset page -->{%endblock%}

{%block content%}
<div class="container">
		<div class="content shadow-lg p-3 mb-5 bg-white rounded">
			<div class="title">
				<h1>Forgotten password</h1><br/>
				<small class="text-muted">Enter your email to receive a link to reset your password</small>
			</div>
			<form method="post">
				{% csrf_token %}
				<p class="p_input"><i class="fas fa-envelope"></i>{{ form.email }}</p>
				{% if form.email.errors%}
				{% for error in form.email.errors%}
				<p class="alert alert-danger"><i class="fas fa-exclamation-triangle"></i>{{error}}</p>
				{% endfor %}
				{% endif%}
				<div class="zone_button">
					<button type="submit" class="mdc-button mdc-button--raised"><i class="fas fa-sign-in-alt"></i>  <span class="mdc-button__ripple"></span>Validate</button>
					<p class="mdc-button mdc-button--raised"> <a href="{% url 'login:connexion' %}"> <span class="mdc-button__ripple"></span>Go back</a></p>
				</div>
			</form>
		</div>
	</div>
{%endblock%}
