{%extends "header-login.html"%}
{%block title%}Email envoyé !{%endblock%}
{%block headerlink%}
{% load static %}
<link rel="stylesheet" href="{% static 'login/css/password_reset_done.css' %}">
{%endblock%}
{%block content%}
<div class="container">
    <div class="content shadow-lg p-3 mb-5 bg-white rounded">
      <p>
      If there is an account with the following address <strong>{{request.session.provided_email}}</strong> , you'll receive soon new instructions to reset your password.
      If there is still no mail in your inbox, please check your spam folder.
  </p>
  <button type="submit" class="mdc-button mdc-button--raised"><a href="{% url 'login:connexion' %}"><span class="mdc-button__ripple"></span>Home</a></button>
    </div>
    
  </div>
{%endblock%}