<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Reset Password</title>
</head>
<body>
	<p>
		{% autoescape off %}
Pour commencer le processus de réinitialisation de mot de passe du compte Ananas {{ user.get_username }},
cliquer sur le lien ci-dessous:

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

Si cliquer sur ce lien ne fonctionne pas, copier et coller l'url dans la fenêtre de votre navigateur.
	</p>
	<p>
		Cordialement,<br/>
Ananas Team
{% endautoescape %}
	</p>
	


	
</body>
</html>