{%extends "header.html"%}
{%block title%}Reset Password{%endblock%}
{%block content%}
<p>
		{% autoescape off %}
Pour commencer le processus de réinitialisation de mot de passe du compte Ananas {{ user.get_username }},
cliquer sur le lien ci-dessous:


{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

Si cliquer sur ce lien ne fonctionne pas, copier et coller l'url dans la fenêtre de votre navigateur.
	</p>
	<p>
		Cordialement,<br/>
Ananas Team
{% endautoescape %}
	</p>
{%endblock%}