{%extends "header-login.html"%}
{%block title%}Password confirmation{%endblock%}
{%block headerlink%} 
{% load static %}
<link rel="stylesheet" href="{% static 'login/css/password_reset_done.css' %}">
{%endblock%}

{%block content%}
<div class="container">
		<div class="content shadow-lg p-3 mb-5 bg-white rounded">
			<p>
				Your password has been modified !<br/>
				You can now log in to the Ananas website<br/>
				<button class="mdc-button mdc-button--raised"><i class="fas fa-sign-in-alt"></i>  <a href="{% url 'login:connexion' %}"><span class="mdc-button__ripple"></span>Home</a></button>
			</p>
		</div>
	</div>
{%endblock%}