{%extends "header.html"%}
{%block title%}Set up new password{%endblock%}
{%block headerlink%}
 <link rel="stylesheet" href="{{STATIC_URL}}/static/login/css/password_reset_done.css">
{%endblock%}
{%block content%}
<div class="container">
    <div class="content shadow-lg p-3 mb-5 bg-white rounded">
      {% if validlink %}
    <div class="title">
      <h3>Change password</h3>
    </div>
    {% if form.new_password1.errors or form.new_password2.errors %}
      {% for error in form.new_password1.errors%}
       {% for error2 in form.new_password2.errors%}
        <p class="error alert alert-danger" ><i class="fas fa-exclamation-triangle" style="top:32%;left:85px;"></i>{{error}}</p>
        {% endfor %}
        {% endfor %}
      {% endif %}
      {% if form.new_password2.errors %}
      {% for error in form.new_password2.errors%}
        <p class="error alert alert-danger" ><i class="fas fa-exclamation-triangle" style="top:32%;left:85px;"></i>{{error}}</p>
        {% endfor %}
      {% endif %}
    <form method="post">
      {% csrf_token %}
      <p><i class="fas fa-unlock"></i>{{ form.new_password1 }}</p>
      <p><i class="fas fa-unlock"></i>{{form.new_password2}}</p>
      <div class="zone_button">
        <button type="submit" class="mdc-button mdc-button--raised"><span class="mdc-button__ripple"></span> Modifier le mot de passe</button>
      </div>
      
    </form>
  {% else %}
    <p>
      Le lien donné est invalide, ceci est probablement du au fait qu'il a déjà été utilisé.
      S'il vous plait veuillez recommencer le processus de réinitialisation de mot de passe.
    </p>
    <div class="zone_button">
        <button type="submit" class="mdc-button mdc-button--raised"><a href="{% url 'connexion' %}"><span class="mdc-button__ripple"></span>Accueil</a></button>
      </div>
  {% endif %}
    </div>
  </div>
{%endblock%}