{%extends "header-login.html"%}
{%block title%}Email envoyé !{%endblock%}
{%block headerlink%}
<link rel="stylesheet" href="{{STATIC_URL}}/static/login/css/password_reset_done.css">
{%endblock%}
{%block content%}
<div class="container">
    <div class="content shadow-lg p-3 mb-5 bg-white rounded">
      <p>
      Si un compte existe avec l'adresse suivante <strong>{{request.session.entered_mail}}</strong> , vous recevrez sous peu un mail contenant les instructions pour réinitialiser votre mot de passe.
      Si vous ne recevez pas de mail, vérifier que l'adresse est bien correcte et regarder dans vos spam.
  </p>
  <button type="submit" class="mdc-button mdc-button--raised"><a href="{% url 'connexion' %}"><span class="mdc-button__ripple"></span> Accueil</a></button>
    </div>
    
  </div>
{%endblock%}