{% extends "header-login.html" %}
{% block title %}Register{%endblock%}
{%block headerlink %}<!-- CSS connexion page -->
{% load static %}
  <link rel="stylesheet" href="{% static 'login/css/password_reset.css' %}">
  <style>
	.choose{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-evenly;
		height:300px;
	}
	p{
		width: 50%;
	}
</style>
<!-- End css connexion page -->{% endblock %}

{%block content%}
<div class="container">
		<div class="content shadow-lg p-3 mb-5 bg-white rounded">
			<div class="title">
				<h1>Choose your account</h1>
			</div>
			<div class="choose">
				<p class="mdc-button mdc-button--raised"><a href="{% url 'login:student' %}"><span class="mdc-button__ripple"></span>Student</a></p>
				<p class="mdc-button mdc-button--raised"> <a href="{% url 'login:admin' %}"><span class="mdc-button__ripple"></span>Admin</a></p>
				<p class="mdc-button mdc-button--raised"> <a href="{% url 'login:connexion' %}"><span class="mdc-button__ripple"></span>Go back</a></p>
			</div>
		</div>
	</div>
{%endblock%}
